[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
chalice = "*"
pynamodb = "*"
pytz = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-chalice = "*"
mock = "*"
behave = "*"
black = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
